@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #fff;
  --grey1: #111;
  --grey2: #555;
  --grey3: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #222;
    --grey1: #eee;
    --grey2: #bbb;
    --grey3: #888;
  }
}

@layer base {
  ::selection {
    background-color: rgba(109, 175, 255, 0.5);
  }
}
