:root {
    --type-size: 14px;
    --secondary-type-size: 12px;
    --line-height: 1.6;
    --emoji-font: "color-emoji";
    --default-font:
        -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica,
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --backgroundColor: #fff;
    --inputBackgroundColor: #f2f2f2;
    --primaryBorderColor: #e5e5e5;
    --secondaryBorderColor: #f2f2f2;
    --backdrop: rgba(0, 0, 0, 0.3);
    --transparentBorder: rgba(0, 0, 0, 0.05);
    --grey1: #111;
    --grey2: #555;
    --grey3: #999;
    --green: #32bd64;
    --orange: orange;
    --red: #f04b4b;
    --blue: #0788f5;
    --selectionColor: rgba(109, 175, 255, 0.5);
    --content-padding: 72px;
    --badge-color: #f04b4b;
    --sidebar-width: 0;
    --marketingBackground: #fafafa;
    --wash1: #e5e5e5;
    --wash2: #f2f2f2;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #222;
        --inputBackgroundColor: #333;
        --inputBackgroundActiveColor: #444;
        --primaryBorderColor: #333;
        --secondaryBorderColor: #333;
        --backdrop: rgba(0, 0, 0, 0.5);
        --transparentBorder: hsla(0, 0%, 100%, 0.1);
        --grey1: #eee;
        --grey2: #bbb;
        --grey3: #888;
        --selectionColor: rgba(109, 175, 255, 0.5);
        --marketingBackground: #1a1a1a;
        --wash1: #4e4e4e;
        --wash2: #383838;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    font-family: var(--default-font);
    font-size: var(--type-size);
    line-height: var(--line-height);
    background-color: var(--backgroundColor);
    color: var(--grey1);
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateZ(0);
}

body > div {
    width: 100%;
}

@media only screen and (max-width: 684px) {
    :root {
        --content-padding: calc((100vw - 540px) / 2);
    }
}

@media only screen and (max-width: 636px) {
    :root {
        --content-padding: 48px;
    }
}

@media only screen and (max-width: 480px) {
    :root {
        --content-padding: 16px;
    }
}

@page {
    size: auto;
    margin: 14mm;
}

@media print {
    :root,
    :root.dark {
        --grey1: #000;
        --grey2: #000;
        --grey3: #000;
        --backgroundColor: #fff;
        --type-size: 10px;
    }
    body,
    html {
        overflow-y: visible !important;
        height: auto;
    }
    body {
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}

h3 {
    font-size: var(--type-size);
    margin-bottom: 4px;
    font-weight: 600;
    color: var(--grey1);
}

h4 {
    font-weight: 400;
    font-style: italic;
    color: var(--grey1);
    margin: 8px 0 4px;
}

section {
    margin: 60px 0;
}

section:last-child {
    margin-bottom: 0;
}

section:first-of-type {
    margin: 36px 0 20px;
}

section p {
    color: var(--grey2);
}

@media print {
    section[data-print="false"] {
        display: none;
    }
    section {
        margin: 0 0 36px 70mm !important;
        width: 100mm;
    }
    section:last-child {
        margin-bottom: 0;
    }
    h3 {
        page-break-after: avoid;
        break-after: avoid;
        display: flex;
    }
}

a.MegaLink_megalink__u_TFB {
    text-decoration: none;
    color: var(--grey1);
}

.MegaLink_jumpLink {
    text-decoration: none;
    color: var(--grey2);
}

#Profile_featuredProjects a {
    display: inline-block;
}

@media (hover: hover) {
    a.MegaLink_megalink__u_TFB[data-hover="true"]:hover {
        border-bottom: 1px solid;
    }
}

@media (hover: none) {
    a.MegaLink_megalink__u_TFB:hover {
        border: none;
    }
}

.ProfilePhoto_profilePhoto__WTkVX {
    position: relative;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background-color: #ccc;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

@media (prefers-color-scheme: dark) {
    .ProfilePhoto_profilePhoto__WTkVX:after {
        box-shadow: 0 0 0 1px var(--transparentBorder) inset;
    }
}

.ProfilePhoto_profilePhoto__WTkVX img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.ProfilePhoto_profilePhoto__WTkVX .ProfilePhoto_default__FBgsF {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.ProfilePhoto_profilePhoto__WTkVX .ProfilePhoto_default__FBgsF svg {
    width: 100%;
    height: 100%;
    display: block;
}

.ProfilePhoto_profilePhoto__WTkVX .ProfilePhoto_status__8BQhY {
    position: absolute;
    background-color: #fff;
    height: 24px;
    line-height: 24px;
    font-size: 32px;
    padding: 0 8px;
    border-radius: 12px;
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.05),
        0 1px 4px rgba(0, 0, 0, 0.1);
    right: 0;
    bottom: 0;
    z-index: 11;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .ProfilePhoto_profilePhoto__WTkVX .ProfilePhoto_status__8BQhY {
        background-color: var(--inputBackgroundColor);
    }
}

.ProfilePhoto_profilePhoto__WTkVX[data-size="small"]
    .ProfilePhoto_status__8BQhY {
    height: 18px;
    line-height: 18px;
    font-size: 28px;
    padding: 0 6px;
    right: -2px;
}

.ProfilePhoto_profilePhoto__WTkVX[data-size="x-small"]
    .ProfilePhoto_status__8BQhY {
    height: 16px;
    line-height: 16px;
    font-size: 26px;
    padding: 0 4px;
    right: -6px;
}

h3 + .ProfileItem_experience__YXtvH {
    margin-top: 24px;
}

.ProfileItem_experience__YXtvH {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    margin: 36px 0;
}

.ProfileItem_duration__utkpJ {
    color: var(--grey3);
    margin-right: 44px;
    white-space: nowrap;
    position: relative;
    text-align: left;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.ProfileItem_duration__utkpJ span {
    position: absolute;
}

.ProfileItem_duration__utkpJ:after {
    content: "0000 — 0000";
    visibility: hidden;
}

.ProfileItem_experienceContent__0E9pa {
    flex: 1 1;
    word-break: break-word;
}

.ProfileItem_title__rsz3J {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProfileItem_title__rsz3J svg {
    margin-left: 2px;
}

a.ProfileItem_titleLink__qXU7l {
    color: var(--grey1);
}

.ProfileItem_location__5TQPF {
    color: var(--grey2);
}

.ProfileItem_location__5TQPF + .ProfileItem_description__9_b0E {
    margin-top: 8px;
}

.ProfileItem_description__9_b0E {
    color: var(--grey2);
}

.ProfileItem_description__9_b0E ol,
.ProfileItem_description__9_b0E p,
.ProfileItem_description__9_b0E ul {
    margin: 16px 0;
}

.ProfileItem_description__9_b0E ol:first-child,
.ProfileItem_description__9_b0E p:first-child,
.ProfileItem_description__9_b0E ul:first-child {
    margin-top: 0;
}

.ProfileItem_description__9_b0E ol:last-child,
.ProfileItem_description__9_b0E p:last-child,
.ProfileItem_description__9_b0E ul:last-child {
    margin-bottom: 0;
}

.ProfileItem_description__9_b0E ol,
.ProfileItem_description__9_b0E ul {
    list-style-position: outside;
}

.ProfileItem_description__9_b0E ul li {
    list-style-type: disc;
    padding: 4px 0;
}

.ProfileItem_description__9_b0E ol li {
    list-style-type: decimal;
    padding: 4px 0;
}

.ProfileItem_description__9_b0E a {
    color: var(--grey1);
    border-bottom: 1px solid var(--primaryBorderColor);
}

.ProfileItem_images__Z9kAd {
    margin-top: 12px;
}

@media only screen and (max-width: 480px) {
    .ProfileItem_experience__YXtvH {
        flex-direction: column;
    }
    #projects .ProfileItem_experience__YXtvH {
        margin-left: 16px;
    }
    .ProfileItem_duration__utkpJ {
        text-align: left;
    }
    .ProfileItem_duration__utkpJ:after {
        content: "";
        display: none;
    }
    .ProfileItem_duration__utkpJ span {
        position: relative;
    }
}

@media print {
    h3 + .ProfileItem_experience__YXtvH {
        page-break-before: avoid;
        break-before: avoid;
        margin-top: 16px;
    }
    .ProfileItem_experience__YXtvH {
        page-break-inside: avoid;
        break-inside: avoid;
        margin: 16px 0;
    }
    .ProfileItem_title__rsz3J svg {
        display: none;
    }
}

h3 + .ContactItem_contact__9zpDH {
    margin-top: 24px;
}

.ContactItem_contact__9zpDH {
    display: flex;
    margin: 16px 0;
}

.ContactItem_platform__6b5md {
    color: var(--grey3);
    margin-right: 36px;
    white-space: nowrap;
    position: relative;
    text-align: right;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.ContactItem_platform__6b5md span {
    position: absolute;
}

.ContactItem_platform__6b5md:after {
    content: "0000 — 0000";
    visibility: hidden;
}

.ContactItem_platformLink___dB19 {
    word-break: break-word;
}

.ContactItem_platformLink___dB19 svg {
    margin-left: 2px;
}

@media only screen and (max-width: 480px) {
    .ContactItem_contact__9zpDH {
        flex-direction: column;
    }
    .ContactItem_platform__6b5md {
        text-align: left;
    }
    .ContactItem_platform__6b5md:after {
        content: "";
        display: none;
    }
    .ContactItem_platform__6b5md span {
        position: relative;
    }
}

@media print {
    h3 + .ContactItem_contact__9zpDH {
        margin-top: 16px;
    }
    .ContactItem_contact__9zpDH {
        page-break-inside: avoid;
        break-inside: avoid;
        margin: 8px 0;
    }
    .ContactItem_platformLink___dB19 svg {
        display: none;
    }
}

.Profile_profileHeader__KZGM6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.Profile_profileInfo__to5I_ {
    flex: 1 1;
    display: grid;
}

.Profile_profileInfo__to5I_ .Profile_displayName__uQDzB {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Profile_profileInfo__to5I_ h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
}

.Profile_profileInfo__to5I_ p {
    color: var(--grey2);
}

.Profile_link__K5O7y {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--grey3);
}

.Profile_profileHeader__KZGM6 a {
    color: var(--grey3);
}

.Profile_profilePhotoWrap__FpL2P {
    position: relative;
}

section#Profile_aboutID__Z2GAs,
#Profile_coreSkills,
#Profile_featuresProjects {
    color: var(--grey2);
}

#Profile_coreSkills,
#Profile_featuredProjects {
    margin: 24px 0;
}

#Profile_coreSkills li {
    margin: 8px 0 16px 0;
}

section#Profile_aboutID__Z2GAs ol,
section#Profile_aboutID__Z2GAs p,
section#Profile_aboutID__Z2GAs ul {
    margin: 16px 0;
}

section#Profile_aboutID__Z2GAs ol:first-child,
section#Profile_aboutID__Z2GAs p:first-child,
section#Profile_aboutID__Z2GAs ul:first-child {
    margin-top: 0;
}

section#Profile_aboutID__Z2GAs ol:last-child,
section#Profile_aboutID__Z2GAs p:last-child,
section#Profile_aboutID__Z2GAs ul:last-child {
    margin-bottom: 0;
}

section#Profile_aboutID__Z2GAs ol,
section#Profile_aboutID__Z2GAs ul {
    list-style-position: outside;
}

section#Profile_aboutID__Z2GAs ul li {
    list-style-type: disc;
    padding: 4px 0;
}

section#Profile_aboutID__Z2GAs ol li {
    list-style-type: decimal;
    padding: 4px 0;
}

section#Profile_aboutID__Z2GAs a {
    border-bottom: 1px solid var(--primaryBorderColor);
}

.Profile_badges__uMcrx {
    display: grid;
    grid-column-gap: 6px;
    column-gap: 6px;
    margin-top: 5px;
    grid-template-columns: fit-content(100%) fit-content(100%) fit-content(100%);
}

.Profile_badges__uMcrx .Profile_link__K5O7y a {
    font-size: var(--secondary-type-size);
    height: 24px;
    padding: 0 10px;
    border-radius: 12px;
    flex-shrink: 1;
    background-color: #f6f6f6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--grey2);
}

.Profile_badges__uMcrx .Profile_link__K5O7y a:active {
    background-color: var(--wash2);
}

@media (prefers-color-scheme: dark) {
    .Profile_badges__uMcrx .Profile_link__K5O7y a {
        box-shadow: none;
        background-color: var(--wash2);
    }
    .Profile_badges__uMcrx .Profile_link__K5O7y a:active {
        box-shadow: none;
        background-color: var(--wash1);
    }
}

@media only screen and (max-width: 480px) {
    #Profile_aboutID__Z2GAs h3 {
        margin-bottom: 12px;
    }
}

@media print {
    .Profile_profileHeader__KZGM6 {
        position: absolute;
        width: 60mm;
    }
    .Profile_badges__uMcrx {
        margin-top: 0;
    }
    .Profile_badges__uMcrx .Profile_link__K5O7y a {
        font-size: var(--type-size);
        line-height: var(--line-height);
        padding: 0;
        display: inline;
    }
    .Profile_profileHeader__KZGM6 .Profile_profilePhotoWrap__FpL2P {
        display: none;
    }
    .Profile_profileInfo__to5I_ h2 {
        font-size: var(--type-size);
        line-height: var(--line-height);
    }
    section#Profile_aboutID__Z2GAs h3 {
        margin-bottom: 16px;
    }
    section .Profile_breakInside__ZPmEM {
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

#AppWrapper_container__j_5Tm {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    z-index: 1;
}

#AppWrapper_container__j_5Tm[data-full-width="true"],
#AppWrapper_container__j_5Tm[data-hide-sidebar="true"] {
    width: 100%;
}

#AppWrapper_container__j_5Tm[data-hide-sidebar="true"][data-is-posts="true"]
    main {
    padding: 0;
}

#AppWrapper_container__j_5Tm main {
    flex-shrink: 0;
    padding: 0 48px;
    display: grid;
    width: 100%;
    margin: auto;
}

#AppWrapper_container__j_5Tm[data-full-width="true"] main,
#AppWrapper_container__j_5Tm[data-hide-sidebar="true"] main {
    width: 100%;
    margin-left: 0;
}

#AppWrapper_container__j_5Tm main .AppWrapper_content__s_sbE {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%;
}

.AppWrapper_content__s_sbE {
    max-width: 540px;
    margin: 0 auto;
    padding: var(--content-padding) 0;
}

@media only screen and (max-width: 540px) {
    #AppWrapper_container__j_5Tm {
        width: 100%;
    }
    #AppWrapper_container__j_5Tm main {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 480px) {
    #AppWrapper_container__j_5Tm main {
        padding: 0 24px;
    }
    .AppWrapper_content__s_sbE {
        padding: 24px 0 96px;
    }
}

@media only screen and (max-width: 684px) {
    .AppWrapper_content__s_sbE {
        padding-bottom: 96px;
    }
}

@media print {
    #AppWrapper_container__j_5Tm {
        float: none;
    }
    #AppWrapper_container__j_5Tm main {
        padding: 0;
        margin-left: 0;
    }
    .AppWrapper_content__s_sbE {
        width: 170mm;
        padding: 0;
        margin: 0;
    }
}

.show-only-when-print {
    display: none;
}

/* .show-only-when-screen {
    display: block;
} */
